{% extends 'base.html.twig' %}

{% block title %}Portfolio - Jordan{% endblock %}

{% block body %}
    <!-- Home page of my portfolio -->
    <!-- Header with sticky menu between for better user experience -->
    <header>
        <nav class="flex justify-between items-center w-[92%] mx-auto pb-4">
            <div>
                <a class="w-16" href="#">Jordan</a>
            </div>
            <div class="nav-links bg-slate-800 md:bg-transparent duration-500 md:static absolute md:min-h-fit min-h-[6vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="/">Accueil</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="/projects">Mes projets</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Me contacter</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <box-icon color="#BABEC4FF" name='menu' class="cursor-pointer md:hidden" id="menu"></box-icon>
            </div>
        </nav>
    </header>

    <!-- Main container
         Will contain a photo of me, a shot text about me and my skills
    -->
    <main id="main">
        <!-- Section to display of photo of me -->
        <section id="photo">
            <img class="rounded-full mx-auto" style="width: 30%" id="portfolio-img" src="{{ asset('img/photo-no-bg.png') }}" alt="Photo">
        </section>

        <!-- Section to talk about me -->
        <section class="flex mx-auto p-4" id="about-me">
            <p class="text-center">
                A 24 ans, je suis actuellement en apprentissage autoditacte sur plusieurs languages.<br/><br/>
                Suite à un BTS en informatique au Lycée Edmond Labbé de Douai, j'ai pu acquérir les bases
                de plusieurs languages (C++, C#, HTML, CSS, JavaScript, PHP), des notions en
                base de données.
            </p>
        </section>

        <!-- Section to show my skills -->
        <section id="skills">
            <div class="flex flex-col w-fit pb-4 px-6 bg-slate-800 rounded-lg shadow-inner mx-auto items-center justify-center">
                <span class="text-xs mt-4" id="span-skills">Mes hardskills</span>
                <h2>Mes compétences</h2>
                <div id="skill-container" class="my-1">
                    <div id="skill-box" class="mx-auto grid gap-8 grid-cols-2">
                        <div id="skill-column-one">
                            <div id="skill-html" class="flex flex-col mx-auto items-center justify-center">
                                <box-icon type='logo' name='html5' color="#BABEC4FF" size="lg" class="skills-icon"></box-icon>
                                <div class="flex flex-col mx-auto items-center justify-center">
                                    <h3 class="skills_name font-semibold">HTML</h3>
                                    <span class="skills_level">Intermédiaire</span>
                                </div>
                            </div>
                            <div id="skill-css" class="flex flex-col mx-auto items-center justify-center">
                                <box-icon type='logo' name='css3' color="#BABEC4FF" size="lg" class="skills-icon"></box-icon>
                                <div class="flex flex-col mx-auto items-center justify-center">
                                    <h3 class="skills_name font-semibold">CSS</h3>
                                    <span class="skills_level">Intermédiaire</span>
                                </div>
                            </div>
                            <div id="skill-js" class="flex flex-col mx-auto items-center justify-center">
                                <box-icon type='logo' name='javascript' color="#BABEC4FF" size="lg" class="skills-icon"></box-icon>
                                <div class="flex flex-col mx-auto items-center justify-center">
                                    <h3 class="skills_name font-semibold">Javascript</h3>
                                    <span class="skills_level">Les bases</span>
                                </div>
                            </div>
                        </div>
                        <div id="skill-column-two">
                            <div id="skill-sql" class="flex flex-col mx-auto items-center justify-center">
                                <box-icon type='logo' name='postgresql' color="#BABEC4FF" size="lg" class="skills-icon"></box-icon>
                                <div class="flex flex-col mx-auto items-center justify-center">
                                    <h3 class="skills_name font-semibold">SQL</h3>
                                    <span class="skills_level">Les bases</span>
                                </div>
                            </div>
                            <div id="skill-php" class="flex flex-col mx-auto items-center justify-center">
                                <box-icon type='logo' name='php' color="#BABEC4FF" size="lg" class="skills-icon"></box-icon>
                                <div class="flex flex-col mx-auto items-center justify-center">
                                    <h3 class="skills_name font-semibold">PHP</h3>
                                    <span class="skills_level">Les bases</span>
                                </div>
                            </div>
                            <div id="skill-tailwindcss" class="flex flex-col mx-auto items-center justify-center">
                                <box-icon type='logo' name='tailwind-css' color="#BABEC4FF" size="lg" class="skills-icon"></box-icon>
                                <div class="flex flex-col mx-auto items-center justify-center">
                                    <h3 class="skills_name font-semibold">Tailwind</h3>
                                    <span class="skills_level">Les bases</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

{% endblock %}
