/*
    All the app design is here, from base.html.twig to the last created page
*/


/*
    For all pages
*/
body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    letter-spacing: 1.1px;
}

.header-icon {
    width: 3.5rem;
}

.logo {
    width: 5vw;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.menu-nav {
    width: 80%;
    justify-content: space-evenly;
}
/* */


.profile-pic {
    border-radius: 50% !important;
    width: 300px !important;
}

.hello-icon {
    transform: scaleX(-1);
    padding-left: 3rem;
}

.homepage-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-homepage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 83.5vh;
}

.resume-text {
    display: flex;
    align-items: center;
}

.text {
    font-size: 3rem;
    text-align: center;
}

.job-text {
    color: rgba(0, 0, 0, 0.22);
}
.name {
    color: #00c648;
}
.icon {
    width: 100px;
}

.main-skills {
    height: 100vh;
}

.skills-list {
    display: flex;
}

.skills-section {
    height: 88.2vh;
    padding-top: 3rem;
    text-align: center;
}

.skill {
    width: 20%
}