{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <!-- Project page of my portfolio -->
    <!-- Header with sticky menu between for better user experience -->
    <header>
        <nav class="flex justify-between items-center w-[92%] mx-auto pb-4">
            <div>
                <a class="w-16" href="#">Jordan</a>
            </div>
            <div class="nav-links bg-slate-800 md:bg-transparent duration-500 md:static absolute md:min-h-fit min-h-[6vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="/">Accueil</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="/projects">Mes projets</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Me contacter</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <box-icon color="#BABEC4FF" name='menu' class="cursor-pointer md:hidden" id="menu"></box-icon>
            </div>
        </nav>
    </header>

    <main>
        <div class="flex flex-col justify-center">
            <h1>Mes projets</h1>
            <div id="projects_container" class="grid gap-4 grid-cols-2 mx-auto" style="background-color: green">
                <div id="rover" style="background-color: red">
                    <img src="{{ asset('img/rover-no-bg.png') }}" alt="Projet Rover">
                    <h2>Rover</h2>
                    <a href="https://github.com/Astagoth/Projet-Rover" target="_blank">
                        <box-icon type='logo' name='github' color="#BABEC4FF" size="lg" animation='tada-hover'></box-icon>
                    </a>
                </div>
                <div id="lastbreakout" style="background-color: blue">
                    <img src="{{ asset('img/soon-no-bg.png') }}" alt="A venir...">
                    <h2>Last Breakout</h2>
                    <a href="https://github.com/Astagoth/last-breakout " target="_blank">
                        <box-icon type='logo' name='github' color="#BABEC4FF" size="lg" animation='tada-hover'></box-icon>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
